body{
	margin:0;
	padding:0;
	font-family: "Helvetica", Arial, sans-serif;
	font-size:12px;
	

}

select {
    padding:3px;
    margin: 0;
    -webkit-box-shadow: 
        0 2px 0 #ccc,
        0 -1px #fff inset;
    background: #f9f9f9;
    color: #555;
    outline:none;
	border:none;
    display: inline-block;
    -webkit-appearance:none; 
    cursor:pointer;
	padding-right:40px;
	min-width:160px;
}

#edited-resources{
	padding: 10px 0px 10px 15px;
	display:inline-block;
	position:absolute;
	left:200;
	
}

.file {
	display:block;
}

.source {
	color:#555;
	font-weight:bold;
	padding-right:5px;
	width:100%;
	overflow:auto;
	margin-bottom:5px;
	font-size:18px;
	vertical-align:middle;
}

.commit-input {
	width:400px;
	outline:none;
	margin: 0px 10px 0px 5px;
}

.commit-wrapper{
	padding-left: 10px;
}

.resource {
	float:left;
	padding:5px 0px 15px 0px;
	border-bottom:1px dotted #ccc;
	margin-bottom:10px;
}

.resource li{
	list-style-type:none;
	display:block;
	margin-bottom:5px;
	padding-left:10px;
	
}

.remove-resource {
	background:url(close.png) left top; 
	width:14px; 
	height:14px;
	display:inline-block;
	margin-left:10px;
	cursor:pointer;
	vertical-align:middle;

}

.commit-button {
	display:block;
	clear:both;
	font-size:13px;
	padding:4px 8px 4px 8px;
	cursor:pointer;
	background-image: -webkit-linear-gradient(#8add6d, #60b044);
	border-radius: 5px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border:1px solid;
	border-color: #5ca941;
	outline:none;	
}


#sidebar-header{
	border-top: 1px solid rgb(68, 128, 200);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5C93D5),to(#1553AA));
	margin-top:1px;
	height:35px;
	line-height:34px;
	
}

#hotfix-title{
	position:absolute;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.33) 0 1px 0;
	font-weight: bold;
	font-family: Lucida Grande, sans-serif;
	font-size: 11px;
	line-height: 11px;
	margin-top:2px;
	top:10px;

}

#octocat {
	float:left;
	width:40%;
	padding:20px;
}

.octocat{
    max-width: 100%;
    height: auto;
}

#auth {
	float:left;
	width:50%;
	padding-left:10px;
}

.instructions{
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 21px;
	color:#333;
}


#authorize-button{
	display:block;
	font-size:20px;
	padding:10px 20px 10px 20px;
	margin: 30px auto 0 auto;
	cursor:pointer;
	background-image: -webkit-linear-gradient(#8add6d, #60b044);
	border-radius: 5px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border:1px solid;
	border-color: #5ca941;
	outline:none;	
}

#authorize-button:hover{
	background-image: -webkit-linear-gradient(#82db63, #5ba740);
}

#authorize-button:active{
	background-color:#569e3d;
	background-image:none;
	border-color:#418737;
}


#sidebar {
	display:inline-block;
	width:200px;
	background-color: rgb(214, 221, 229);
	height:700px;
	overflow:none;
	border-right: 1px solid rgb(64%, 64%, 64%);
	
	
}


#sidebar-title{
	margin-top:1px;
	border-top: 1px solid rgb(68, 128, 200);
	padding: 0px 5px 0px 5px;
	
}

#sidebar-body{
	font-size:12px;
	padding:0px 10px 0px 10px;
}

#sidebar-body h2{
	font-size:11px;
	color: rgb(92, 110, 129);
	font-weight: bold;
	text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
	font-family: Lucida Grande, sans-serif;
}


#hotfix-icon{
	float: left;
	width: 32px;
	height: 32px;
	margin-top: 0px;
	margin-right: 3px;
}



#username li {
	list-style-type:none;
	height:20px;
	margin: 0px 5px 0px 5px;
	float:left;
}

#username li a:hover{
	color: #4183c4;
	text-decoration: none;
	
}

#username li a{
	color: rgb(92, 110, 129);
	font-size:14px;
	text-decoration:none;
	line-height:14px;
	text-shadow: 0 1px 0 #dedede;
	font-family: "Helvetica" , arial, sans-serif;
	font-weight:bold;
	float:left;
	padding:4px 2px 0px 10px;


}

#username img{
	height:20px;
	float:left;
	-webkit-box-shadow: 0px 1px 2px 0px #999;
}

#user {
	margin: 5px 0px 15px 0px;
}

#logout{
	color: rgb(92, 110, 129);
	cursor:pointer;
	font-family: "Helvetica" , arial, sans-serif;
	font-size:10px;
	display:inline-block;
	padding-top:5px;
}

#logout:hover{
	color: #4183c4;
	
}



#branches{
	display:none;
}


	
#unauthorized {
	display:none;
}

#authorized{
	display:block;
}




